.product {
    background-color: black;
    color: white;
    border: red 3px solid;
}
.product-title {
    font-size: 20px;
    margin: 15 px 0;
}
.product-description {
    font-size: 22px;
    margin-bottom: 15px;
}
.product-type {
    font-size: 15px;
    margin-bottom: 15px;
}
.product-price {
    font-size: 22px;
    margin-bottom: 15px;
}
.btn-wrap {
    display: flex;
    justify-content: center;
}
.product-img {
    text-align: center;
    img {
        width: 250px;
        height: auto;
        padding-top: 10px;
    }
}
.product-quantity {
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
    input {
        text-align: center;
    }
}
