.review-header {
    display: flex;
    align-items: center;
}

.review-photo {
    width: 40px;
    height: 40px;
    margin-right: 10px;
    border-radius: 50%;
}
.review {
    margin-top: 50px;
}
.rvw-content {
    color: white;
    background-color: black;
}
