/* Header.scss */
.app-bar {
    /* ваші поточні стилі для AppBar */
    transition: position 0.3s ease;
    background-color: black; /* Додайте анімацію для зміни позиції */
}

.app-bar.sticky {
    color: black;
    position: sticky;
    top: 0;
    z-index: 5;
    background-color: rgba(
        0,
        0,
        0,
        0.6
    ); /* Додайте фоновий колір, щоб AppBar був видимим при прокручуванні */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Додайте тінь для ефекту виділення */
}
.app-bar.sticky .sub-menu {
    background-color: rgba(0, 0, 0, 0.6);
}
.app-bar.sticky .menu-item {
    color: white;
}
.app-bar.sticky .menu-item:hover {
    color: red;
}
.tool-bar {
    display: flex;
    justify-content: space-between; /* Рівномірний розподіл між лівим і правим елементами */
    align-items: center; /* Вирівнювання по вертикалі */
}
